.container {
  margin-left: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*card*/
.firstSectionTest {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  width: 30rem;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12rem 4rem;
  border-radius: 2rem;
  gap: 2rem;
}

.divFirstCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contentChangeName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.contentChangeName:hover {
  background-color: #eeeeee;
}

.contentChangeName:last-child {
  border-bottom: none;
}

/* ======= MODAL STYLES ======= */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 0 1rem;
  transition: opacity 0.3s ease;
}

.modalContent {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 10px;
  width: 22rem;
  position: relative;
  display: block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.closeModalButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.buttonSecondary {
  margin-top: 1rem;
  padding: 0.8rem;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalContent button:hover {
  background-color: #0056b3;
}

.cancelButton {
  background-color: #ccc;
  margin-top: 0.5rem;
}

.cancelButton:hover {
  background-color: #999;
}

@media (max-width: 600px) {
  .container {
    margin-left: 0px;
  }

  .firstSection {
    background-color: #ffffff;
    margin: 1.2rem;
    padding: 8rem 2rem;
    gap: 2rem;
  }
}
