.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 40rem;
  height: auto;
  padding: 30px;
  border-radius: 15px;
}

.profileContent {
  display: flex;
  align-items: center;
  gap: 15px;
}



.tamNome {
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    margin: 0 1rem;
  }

  .changePhotoButton {
    font-size: 10px;
    padding: 10px 13px;
  }

  .tamNome {
    font-size: 15px;
  }
}
