.container {
  background-color: #2e2e2e;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.section {
  width: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5f5f5f;
  padding: 3rem 2rem;
  border-radius: 2rem;
  height: auto;
  gap: 0.5rem;
}

.input {
  width: 100%;
  height: 2.2rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.2rem;
  padding-left: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.titulo {
  font-weight: bold;
  font-size: 30px;
}

.paragrafo {
  font-weight: normal;
  line-height: 1.5em;
  font-size: 14px;
  padding: 1.5rem 0;
}

.label {
  font-weight: bold;
}

.button {
  background-color: #b5911b;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background-color: #947a27;
  transform: translateX(0.5em);
}

.returnToClick {
  display: flex;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
  border: none;
}

@media (max-width: 600px) {
  .section {
    width: 48vh;
    padding: 3rem;
    border-radius: 40px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .section {
    width: 33vh;
    padding: 4rem;
  }
}
