.container {
  margin-left: 160px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  color: black;
  padding: 0 4rem;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 0rem 8.5rem;
  gap: 1rem;
}

.firstContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .firstSection {
  width: 100%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 40%;
  height: 3rem;
  border: none;
  background-color: #2e2e2e;
  color: white;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.button:active {
  transform: scale(0.96);
}

.seletorMes {
  display: flex;
  gap: 3rem;
}

.divSeletorMes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.divSeletorMes label {
  font-weight: bold;
}

.inputMes {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.inputMes:focus {
  border-color: #007bff;
}

.icone {
  width: 3rem;
}

.contentTotals {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

.containerCard {
  background-color: rgba(46, 46, 46, 0);
  width: 18rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-shrink: 0; /* Impede o encolhimento dos cards */
}

.containerCard h2 {
  font-size: 19px;
  font-weight: 500;
  color: black;
}

.containerCard p {
  font-size: 20px;
  font-weight: 600;
}

.containerCard:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo da tabela */
/* Estilo da tabela */
.containerCrud {
  width: 100%;
}

.divTable {
  width: 100%;
  padding: 10px;
  overflow: 10rem;
  background-color: white;
  border-radius: 10px;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke;
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}

.table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

.thead {
  background-color: whitesmoke;
}

.thead tr {
  border-bottom: 1px solid rgb(238, 235, 235) !important;
}

.tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

.thead tr th {
  padding: 4px;
  text-align: start;
  margin-bottom: 50px;
  font-size: 16px;
}

.tbody tr {
  margin-bottom: 50px;
}
.tbody td {
  font-size: 16px;
}

.tbody tr:hover {
  background-color: rgba(28, 26, 29, 0.33);
  cursor: pointer;
}

/* Estilo para as células dos gastos */
.gastoCell {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gastoCell div {
  font-size: 14px;
}

.gastoCell strong {
  color: #4caf50;
}

.totalsInformationSection {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    margin-left: 0px;
  }

  .inputMes {
    width: 20rem;
  }

  .containerCard {
    width: 10rem;
    height: 7rem;
    gap: 0.5rem;
  }

  .containerCard h2 {
    font-size: 15px;
  }

  .containerCard p {
    font-size: 20px;
  }

  .totalsInformationSection {
    gap: 1rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .listaGastos h2 {
    padding-top: 1rem;
  }
}
