.input {
  width: 100%;
  padding: 0.8rem;
  border: solid 1px #686868;
  border-radius: 8px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 0 1rem;
  transition: opacity 0.3s ease;
}

.modalContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 22rem;
  position: relative;
  display: block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-out;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  font-weight: bold;
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.divButton {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.closeModalButton {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #333;
}

/* Botão do modal */
.buttonSecondary {
  margin-top: 1rem;
  padding: 0.8rem;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão de cancelar */
.cancelButton {
  background-color: #ccc;
  margin-top: 0.5rem;
}

.cancelButton:hover {
  background-color: #999;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 3rem;
  border: none;
  background-color: #2e2e2e;
  color: white;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.addButton:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.addButton:active {
  transform: scale(0.96);
}
