.main {
  background-color: #2e2e2e;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sectionInfo {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  width: 80vh;
}

.sectionInfo h1 {
  font-size: 40px;
}

.sectionInfo p {
  padding: 2rem 0;
  font-weight: 500;
  line-height: 1.5;
}

.buttonCadastro {
  background-color: #b5911b;
  color: #fff;
  padding: 10px 25px;
  width: 50%;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.buttonCadastro:hover {
  background-color: #947a27;
  transform: translateX(0.5em);
}

.titulo {
  font-size: 25px;
}

.sectionForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionForm a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px;
  border-radius: 40px;
  height: auto;
}

.padding {
  margin-top: 1rem;
}

.form input {
  width: 16rem;
  height: 2.2rem;
  border: none;
  border-radius: 10px;
  margin-top: 0.2rem;
}

.esqueciSenha {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem 0;
}

.buttonLogin {
  background-color: #b5911b;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.buttonLogin:hover {
  background-color: #947a27;
  transform: translateX(0.5em);
}

.input {
  padding: 0 10px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
    padding: 20px; /* Adicionando padding para evitar que fique colado na borda */
  }

  .sectionInfo {
    padding: 2rem 3rem; /* Reduzindo o padding */
    width: 100%; /* Garantindo que ocupe toda a largura da tela */
  }

  .sectionInfo h1 {
    font-size: 28px; /* Reduzindo o tamanho da fonte para telas menores */
  }

  .sectionInfo p {
    font-size: 14px; /* Ajustando o tamanho da fonte do parágrafo */
  }

  .buttonCadastro,
  .buttonLogin {
    width: 100%; /* Tornando os botões de largura total */
    height: 2.8rem; /* Ajustando altura para se adaptar melhor */
  }

  .form input {
    width: 100%; /* Tornando os inputs de largura total */
  }

  .titulo {
    font-size: 20px; /* Reduzindo o tamanho da fonte do título */
  }

  .sectionForm {
    margin-bottom: 2rem; /* Ajustando a margem para melhorar o espaçamento */
  }

  .sectionForm a {
    font-size: 14px; /* Ajustando o tamanho da fonte do link */
  }

  .esqueciSenha {
    font-size: 12px; /* Ajustando o tamanho da fonte do texto */
  }
}
