.container {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  gap: 20rem;
}

.firstSection {
  max-width: 480px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

p {
  margin: 2rem 0;
  font-weight: 500;
  line-height: 1.6;
  color: #e5e5e5;
}

.buttonSecondary {
  width: 60%;
  background-color: #b5911b;
  color: #fff;
  padding: 0.9rem;
  border: none;
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.form {
  background-color: #464646;
  padding: 3rem 2.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  min-width: 320px;
}

.form h2 {
  margin-bottom: 0.5rem;
  color: #fff;
}

.inputEmail,
.inputPassword,
.inputName {
  position: relative;
  width: 100%;
}

.inputEmail input,
.inputPassword input,
.inputName input {
  width: 100%;
  padding: 12px 12px 12px 35px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.icon {
  position: absolute;
  left: 12px;
  top: 55%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.forgotPassword {
  align-self: flex-end;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  background-color: #b5911b;
  color: #fff;
  padding: 0.9rem;
  border: none;
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.eye {
  position: absolute;
  right: 12px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.eye:hover {
  color: #b5911b;
}

.inputPassword input {
  padding: 12px 40px 12px 35px;
}

@media (max-width: 575.98px) {
  .container {
    flex-direction: column;
    padding: 2rem;
    gap: 1.3rem;
    overflow-y: auto;
  }

  .firstSection {
    max-width: none;
    text-align: center;
  }

  .buttonSecondary {
    width: 100%;
  }
}
