.main {
  background-color: #2e2e2e;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sectionInfo {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  width: 80vh;
}

.sectionInfo h1 {
  font-size: 40px;
}

.sectionInfo p {
  padding: 2rem 0;
  font-weight: 500;
  line-height: 1.5;
}

.buttonCadastro {
  width: 10rem;
  height: 2.2rem;
  background-color: #b5911b;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}

.titulo {
  font-size: 25px;
}

.sectionForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionForm a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px;
  border-radius: 40px;
  height: auto;
  gap: 5px;
}

.form input {
  width: 16rem;
  height: 2.2rem;
}

.padding {
  padding-top: 1rem;
}

.buttonLogin {
  width: 16rem;
  height: 2.2rem;
  background-color: #b5911b;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}

.input {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    height: auto;
    padding: 20px;
    /* Adicionando padding para evitar que fique colado na borda */
  }

  .sectionInfo {
    padding: 2rem 3rem;
    /* Reduzindo o padding para se ajustar melhor à tela */
    width: 100%;
    /* Garantindo que ocupe toda a largura da tela */
  }

  .sectionInfo h1 {
    font-size: 28px;
    /* Reduzindo o tamanho da fonte do título */
  }

  .sectionInfo p {
    font-size: 14px;
    /* Ajustando o tamanho da fonte do parágrafo */
  }

  .buttonCadastro,
  .buttonLogin {
    width: 100%;
    /* Tornando os botões de largura total */
    height: 3rem;
    /* Ajustando a altura para se adaptar melhor */
  }


  .form input {
    width: 100%;
    /* Tornando os inputs de largura total */
  }

  .titulo {
    font-size: 20px;
    /* Ajustando o tamanho da fonte do título */
  }

  .sectionForm {
    margin-bottom: 2rem;
    /* Ajustando a margem para melhorar o espaçamento */
  }

  .sectionForm a {
    font-size: 14px;
    /* Ajustando o tamanho da fonte do link */
  }

  .padding {
    padding-top: 1rem;
  }

  .buttonCadastro {
    width: 100%;
    /* Tornando o botão de cadastro de largura total */
  }

  .buttonLogin {
    width: 100%;
    /* Tornando o botão de login de largura total */
  }
}