.container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.scrollContainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Melhorar a rolagem em dispositivos móveis */
  
}

.table {
  color: rgb(0, 0, 0);
  background-color: rgba(97, 119, 113, 0.2);
  padding: 20px;
  border-radius: 5px;
  width: 52rem;
  word-break: break-all;
  margin-bottom: 3rem;
  min-width: 600px;
  /* Defina uma largura mínima para garantir que a rolagem ocorra */
}

.td {
  padding-top: 15px;
  text-align: start;
  width: auto;
}

.firstConfigTd {
  width: 30%;
}

.secondConfigTd {
  align-items: center;
  width: 5%;
}

.th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  .onlyWeb {
    display: none;
  }

  .container {
    margin: 0 1rem;
  }

  .hideOnMobile {
    display: none;
  }

  .table {
    margin-bottom: 5rem;
    width: 100%;
    /* A largura da tabela será 100% da tela em dispositivos móveis */
  }

  .scrollContainer {
    margin: 0;
    /* Remove margens para melhor adaptação em telas pequenas */
  }

  .firstConfigTd {
    width: 5%;
  }
  
  .secondConfigTd {
    width: 0%;
  }
}