.container {
  display: flex;
  justify-content: center;
  margin-left: 160px;
}

.table {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 5px;
  width: 60rem;
  word-break: break-all;
  margin-bottom: 3rem;
}

.td {
  padding-top: 15px;
  text-align: start;
  width: auto;
}

.firstConfigTd {
  width: 30%;
}

.secondConfigTd {
  align-items: center;
  width: 5%;
}

.th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}


@media (max-width: 500px) {
  .onlyWeb {
    display: none;
  }

  .container {
    margin: 0 1rem;
  }

  .hideOnMobile {
    display: none;
  }

  .table {
    margin-bottom: 6rem;
  }
}
