.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.scrollContainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Melhorar a rolagem em dispositivos móveis */
}

.table {
  width: 52rem;
  max-width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.thead {
  background-color: #2e2e2e;
  color: white;
}

.thead th {
  padding: 12px 20px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.tbody {
  background-color: #fff;
}

.tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.tbody tr:hover {
  background-color: #e0e0e0;
}

.tbody td {
  padding: 12px 20px;
  text-align: left;
  font-size: 14px;
  color: #333;
  border: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pageButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: #ddd;
}

.icone {
  cursor: pointer;
}

@media (max-width: 768px) {
  .onlyWeb {
    display: none;
  }

  .container {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 5.5rem;
  }

  .hideOnMobile {
    display: none;
  }

  .table {
    font-size: 12px;
  }

  .scrollContainer {
    margin: 0;
    /* Remove margens para melhor adaptação em telas pequenas */
  }

  .thead th,
  .tbody td {
    padding: 10px 8px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
