:root {
  --card-bg-color: rgba(97, 119, 113, 0.2);
  --card-first-bg-gradient: linear-gradient(135deg, #e0af0e, #9e7e14);
  --card-bg-color-mobile: #a5a5a5;
  --gap-desktop: 2rem;
  --gap-mobile: 1rem;
}

.card:first-child {
  background: var(--card-first-bg-gradient);
}

.container {
  display: flex;
  justify-content: center;
  margin-inline-start: 160px;
  gap: var(--gap-desktop);
  padding-top: 1.8rem;
}

/* Para o layout padrão em telas grandes */
.cardWrapper {
  display: flex;
  gap: var(--gap-desktop);
}

.icone {
  width: 3rem;
}

.card {
  background-color: var(--card-bg-color);
  width: 20rem;
  max-width: 15rem;
  height: 10rem;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  gap: 0.5rem;
}

.h2 {
  font-size: 0.875rem;
  font-weight: 500;
}

.saldo {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .container {
    margin-inline-start: 0px;
    margin: 0 1rem;
  }

  .cardWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
  }

  .card {
    flex: 0 0 40%;
    scroll-snap-align: start;
    transition: transform 0.3s ease-in-out;
    height: 7rem;
  }

  .cardWrapper::-webkit-scrollbar {
    display: none;
  }

  .h2 {
    font-size: 0.8rem;
  }

  .icone {
    width: 2.5rem;
  }

  .saldo {
    font-size: 16px;
  }
}
