.contant {
  display: flex;
  justify-content: center;
  margin-left: 160px;
}

.container {
  width: 60rem;
  display: flex;
  justify-content: space-between;
  background-color: #A2B29B;
  border-radius: 45px;
  padding: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center; /* Centralizar horizontalmente */
  height: 10rem;
}

.container h2 {
  color: #2E2E2E;
  font-weight: bold;
  font-size: 1.2rem;
}

.imgPorcoDinheiro img {
  width: 350px; /* Ajuste a largura conforme necessário */
  margin-top: -122px; /* Espaçamento acima da imagem */
}

@media (max-width: 600px) {
  .contant {
    margin: 0;
  }

  .labelCategoria {
    padding: 1rem;
  }
  .container {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    width: 23rem;
    padding: 35px;
  }

  .imgPorcoDinheiro img {
    height: auto; /* Permite que a altura se ajuste automaticamente */
    max-width: 100%; /* Limita o tamanho máximo */
    margin-top: -28px;
  }

  .container {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center; /* Centralizar horizontalmente */
    height: 10rem;
  }
}
