.modalContainer {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContainer.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: #fff;
  border-radius: 12px;
  width: 400px;
  height: auto;
  position: relative;
  display: block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-out;
  overflow: hidden;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #2e2e2e;
  color: #fff;
  padding: 1rem;
}

.closeModalButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  gap: 0.5rem;
}

.field label {
  flex: 1;
  font-weight: 500;
  align-self: center;
}

.field input,
.field select {
  flex: 2;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.inputValor {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: right;
  padding-right: 1rem;
}

/* Esconder a setinha no Chrome, Edge */
.inputValor::-webkit-inner-spin-button,
.inputValor::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esconder a setinha no Firefox */
.inputValor {
  -moz-appearance: textfield;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.paymentMethods {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  display: flex;
  gap: 0.5rem;
}

.checkbox input {
  width: 16px;
  height: 16px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.buttonCancel {
  background: transparent;
  color: #9ca3af;
  border: 1px solid #9ca3af;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.buttonCancel:hover {
  background: #d2d5d8;
}

.buttonPrimary {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.buttonPrimary:hover {
  background-color: #1d4ed8;
}
