.titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #000000;
}

.input,
.button {
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #bbb;
}

.input {
  margin-bottom: 1rem;
}

.button {
  background-color: #2e2e2e;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #444444;
}

.labelStyle {
  font-weight: bold;
  margin-right: 0.4rem;
}

.modalContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.modalContainer.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  height: auto;
  position: relative;
  display: block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-out;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  height: 35px;
  border: 1px solid #bbb;
}

.contentForm {
  display: flex;
  flex-direction: column;
}

.contentForm select {
  border: 1px solid #c7c7c7;
}

.contentForm input,
select {
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.modal input {
  border: 1px solid #ccc;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modalbutton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  background-color: #2e2e2e;
  border-radius: 0.4rem;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.modalbutton:hover {
  background-color: #444;
}

.closeModalButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.closeModalButton:hover {
  color: #3a554e;
}

.metodoPagamento {
  display: flex;
  flex-direction: column;
}

.contentMetodoCredito {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contentMetodoCredito select {
  width: 20%;
}

.radioGroup {
  display: flex;
  flex-direction: row;
}

input {
  padding-left: 12px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-right: 0.5rem;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
