.container {
  background-color: #2e2e2e;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.firstSection {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  width: 80vh;
}

.firstSection h1 {
  font-size: 40px;
}

.firstSection p {
  padding: 2rem 0;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5f5f5f;
  padding: 3rem 2rem;
  border-radius: 2rem;
  height: auto;
  gap: 0.5rem;
}

.label {
  color: #fff;
  font-weight: bold;
}

.input {
  width: 16rem;
  height: 2.2rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.2rem;
  padding-left: 1rem;
}

.esqueciSenha {
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 1rem 0;
  font-size: 13px;
}

.button {
  background-color: #b5911b;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.buttonRegister {
  width: 50%;
  background-color: #b5911b;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background-color: #947a27;
  transform: translateX(0.5em);
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #424242;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    padding: 10px; /* Adicionando padding para evitar que fique colado na borda */
  }

  .sectionInfo {
    padding: 2rem 3rem; /* Reduzindo o padding */
    width: 100%; /* Garantindo que ocupe toda a largura da tela */
  }

  .sectionInfo h1 {
    font-size: 28px; /* Reduzindo o tamanho da fonte para telas menores */
  }

  .sectionInfo p {
    font-size: 14px; /* Ajustando o tamanho da fonte do parágrafo */
  }

  .buttonCadastro,
  .buttonLogin {
    width: 100%; /* Tornando os botões de largura total */
    height: 2.8rem; /* Ajustando altura para se adaptar melhor */
  }

  .form input {
    width: 100%; /* Tornando os inputs de largura total */
  }

  .titulo {
    font-size: 20px; /* Reduzindo o tamanho da fonte do título */
  }

  .sectionForm {
    margin-bottom: 2rem; /* Ajustando a margem para melhorar o espaçamento */
  }

  .sectionForm a {
    font-size: 14px; /* Ajustando o tamanho da fonte do link */
  }

  .esqueciSenha {
    font-size: 12px; /* Ajustando o tamanho da fonte do texto */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .main {
    padding: 0 4rem;
  }
  .sectionInfo {
    padding: 1.2rem;
  }
}
