.section {
  width: 900px;
  margin: 0 auto;
}

.container {
  max-height: 300px;
  overflow-y: scroll;
}

.table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

.thead {
  background-color: rgb(235, 235, 235);
}

.thead tr {
  border-bottom: 1px solid rgb(238, 235, 235) !important;
}

.thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
  font-size: 18px;
}

.tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

.tbody tr {
  margin-bottom: 50px;
}
.tbody td {
  font-size: 16px;
}

.tbody tr:hover {
  background-color: rgba(28, 26, 29, 0.33);
  cursor: pointer;
}

.icone {
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
}

.noData {
  text-align: center;
  padding: 1rem;
}

/* .scrollBody {
  max-height: 300px; 
  overflow-y: scroll; 
} */

/* Estilizando a barra de rolagem */
.container::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Removendo as setas da rolagem */
.container::-webkit-scrollbar-button {
  display: none; /* Remove as setas */
}

/* Estilizando o "track" da rolagem */
.container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da barra de rolagem */
  border-radius: 10px; /* Arredondando as bordas do track */
}

/* Estilizando o "thumb" (a parte que você arrasta) */
.container::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do "thumb" */
  border-radius: 10px; /* Arredondando as bordas do thumb */
}

/* Estilizando o "thumb" quando está sendo hover */
.container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do "thumb" ao passar o mouse */
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .section {
    width: 100%;
  }

  .thead th {
    font-size: 5px;
  }

  .tbody td {
    font-size: 12px;
  }

  .firstConfigTd,
  .secondConfigTd {
    padding: 0.5rem;
    font-size: 13px;
  }
}
