.container {
  margin-left: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    margin-left: 0px;
    padding: 0 2rem;
  }
}
