.container {
  background-color: #f4f4f4;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 11rem;
  padding: 4rem;
  width: 22rem;
  gap: 8px;
}

.container h1 {
  font-size: 15px;
}

.container h2 {
  font-size: 30px;
}