.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px; /* Largura da navbar */
  background-color: #3a554e; /* Cor de fundo */
  height: 100vh;
  position: fixed;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
}

.icone {
  width: 30px;
}

