.firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-left: 160px;
}

.usuLogado {
  position: relative;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000; /* Cor de fundo para o avatar */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

/* Imagem do usuário, área clicável para abrir o dropdown */
.imgUsuarioLogado {
  cursor: pointer;
}

/* Estilo para o menu dropdown */
.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2e2e2e;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 200px;
  display: none; /* Inicialmente escondido */
}

.dropdownMenu button {
  color: white;
}

/* Quando o dropdown estiver visível */
.dropdownMenu {
  display: block;
}

/* Estilo da informação do usuário */
.userInfo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.userInfo p {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* Estilo do item do menu */
.dropdownItem {
  padding: 10px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #535353;
}
