.container {
  background-color: rgba(97, 119, 113, 0.2);
  width: 13rem;
  height: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 45px;
  gap: 0.5rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.container h2 {
  font-size: 15px;
  font-weight: 500;
}

.container p {
  font-size: 25px;
}

.icone {
  width: 1.8rem;
}

@media (max-width: 768px) {
  .container {
    height: 7rem;
  }

  .container h2 {
    font-size: 13px;
  }

  .icone {
    width: 2.5rem;
  }
}
