.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-left: 260px;
  padding: 24px;
}

@media (max-width: 1024px) {
  .content {
    margin-left: 0;
    padding-bottom: 90px;
  }
}
