.container {
  background-color: #2e2e2e;
  width: 260px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.title {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  background-color: #8a8a8a;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 40px;
}

li {
  width: 80%;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.active {
  background-color: #1f1f1f;
}

.bottomSection {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
}

.bottomSection ul {
  margin-top: 16px;
  gap: 0.8rem;
}

.sair {
  color: #ff6262;
}

.bottomItem {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
